.hero-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: $white;
  /* responsive */
  margin: 0 auto;
  padding: 3.2rem 6.4rem;
  
}

.hero-banner__headline {
  letter-spacing: -1.5px;
  /* responsive */
  margin: 2.4rem 0 8px 0;
  font-size: 4.8rem;
  font-family: rs-bold;
}

.hero-banner__description {
  max-width: 58rem;
  text-align: center;
  /* responsive */
  margin-bottom: 3.2rem;
  font-size: 20px;
  font-family: rs;
  line-height: 3.2rem;
}

.hero-banner__disclaimer {
  max-width: 58rem;
  font-family: rs;
  text-align: center;
  /* responsive */
  margin-bottom: 3.2rem;
  line-height: 3.2rem;
  p {
    font-size: 20px;
  }
  ul {
    text-align: left;
    font-size: 16px;
  }
}

@media only screen and (max-width: 540px) {
  .hero-banner {
    padding: 3.2rem 1.6rem;
  }

  .hero-banner__logo {
    width: 9.6rem;
    height: 9.6rem;
  }

  .hero-banner__image {
    width: 7.2rem;
    height: 7.2rem;
  }

  .hero-banner__image--small {
    width: 6rem;
    height: 6rem;
  }

  .hero-banner__headline {
    font-size: 3.2rem;
  }

  .hero-banner__description {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
