.quest-table-row {
    color: $black;
    td {
        cursor: pointer;
    }
}

.quest-table-row-complete {
    color: $font-green;
    td {
        cursor: pointer;
    }
}

.quest-table-uncompletable {
    color: $font-red;
    td {
        cursor: pointer;
    }
}
