@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@400;500;600&display=swap");

/* Theme */
$dark-brown: #3e3529;
$brown: #756b59;
$gray: #53534f;
$dark-gray: #2f2c24;
$tan: #c4b392;
$dark-red: #6c2121;
$red: #e23333;
$dark-blue: #000080;
$blue: #0000ff;
$green: #00ff00;
$orange: #fb8e40;
$yellow: #ffff00;
$white: #fff;
$black: #000000;

