@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@400;500;600&display=swap");

/* Theme */
$inv-dark: #3e3529;
$inv-light: #756b59;
$inv-gray: #53534f;
$inv-dark-gray: #2f2c24;
$chat: #c4b392;
$red: #6c2121;
$font-red: #e23333;
$font-blue: #000080;
$font-green: #00ff00;
$font-orange: #fb8e40;
$hyperlink: #0000ff;
$font-yellow: #ffff00;
$white: #fff;
$black: #000000;
