.quest-table-row {
    color: $black;
    td {
        cursor: pointer;
    }
}

.quest-table-row-complete {
    color: $green;
    td {
        cursor: pointer;
    }
}

.quest-table-uncompletable {
    color: $red;
    td {
        cursor: pointer;
    }
}
