@font-face {
    font-family: 'rs';
    src: local('runescape'), url(../../fonts/runescape.ttf) format('truetype');
}

@font-face {
    font-family: 'rs-small';
    src: local('runescape'), url(../../fonts/runescape_small.ttf) format('truetype');
}

@font-face {
    font-family: 'rs-bold';
    src: local('runescape'), url(../../fonts/runescape_bold.ttf) format('truetype');
}
