.page-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.page-layout__content {
  flex: 1;
  flex-basis: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
  max-width: 120rem;
  padding-bottom: 75px;
  width: 100%;
  background-image: url(https://www.runescape.com/img/rsp777/bg2.jpg);
  background-size: 100% auto;
  background-repeat: repeat-y;
  header {
    color: white;
    text-align: center;
    font-family: rs-bold;
  }
}

.scroll {
  min-width: 379px;
  width: 100%;
  max-width: 85vw;
  position: relative;
  background: url(https://www.runescape.com/img/rsp777/hiscores/scroll_middle.gif) repeat-y;
  background-size: 100%;
  line-height: 18px;
  color: $black;
  margin-top: 36px;
  border-collapse: collapse;
  &:before {
    position: absolute;
    top: -36px;
    content: " ";
    background: url(https://www.runescape.com/img/rsp777/hiscores/scroll_top.gif) no-repeat;
    background-size: cover;
    width: 100%;
    height: 36px;
    min-height: 36px;
  }
  &:after {
    position: absolute;
    bottom: -36px;
    content: " ";
    background: url(https://www.runescape.com/img/rsp777/hiscores/scroll_bottom.gif) no-repeat;
    background-size: cover;
    width: 100%;
    height: 36px;
    min-height: 36px;
  }
  tbody, thead {
    text-align: left;
    td:first-child, th:first-child {
      padding-left: 15px;
    }
    th, td {
      padding: 5px 10px;
      font-size: 16px;
      img {
        margin-right: 8px;
      }
    }
    th {
      font-family: rs-bold;
    }
    td {
      font-family: rs;
    }
  }
}


@media only screen and (max-width: 640px) {
  .page-layout__content {
    margin-top: 6.4rem;
  }
}
